<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	id="com.evothings.ble"
	version="0.0.1">
	<engines>
		<engine name="cordova" version=">=3.1.0" />
	</engines>

	<name>Evothings BLE API</name>

	<js-module src="ble.js" name="BLE">
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BLE" >
				<param name="android-package" value="com.evothings.BLE"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
		</config-file>

		<source-file src="src/android/BLE.java" target-dir="src/com/evothings" />
	</platform>

<!--
	<platform name="ios">
		<source-file src="src/ios/ble.m" />
		<header-file src="src/ios/ble.h" />
	</platform>
-->
</plugin>
